<nav class="w-full h-[10vh] flex justify-between p-5">
    <a href="text-xl font-semibold">WordPulse</a>
    <div class="navlinks flex gap-12">
        <a href="/createblog">create blog </a>
        <a href="/profile">profile</a>
        <a href="">contact </a>
        <a href="/">home </a>
    </div>
    <div class="navlog flex gap-4 items-center">
        <a class="bg-red-300 p-5" href="/login">login</a>
        <a class="bg-red-300 p-5" href="/register">register</a>
    </div>
</nav>